* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1FFBB;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 10px;
  padding: 20px 20px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #169e43;
  background: linear-gradient(344deg, rgba(22, 158, 67, 1) 0%, rgba(0, 93, 69, 1) 100%);
  width: 100%;
  height: 150px;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
}

img {
  width: 230px;
  height: auto;
}

h1 {
  font-size: 70px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h3 {
  font-size: 35px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 35px;
}

a:hover {
  transform: scale(1.05);
  color: rgb(28, 84, 56);
  cursor: pointer;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#button{
position: absolute;
    bottom: 53px;
    left: 50.4%;
    transform: translateX(-50%);
    background-color: #ffffffcc;
    color: #006400;
    padding: 16px 40px;        
    font-size: 18px;           
    border-radius: 30px;       
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
    }

    #button:hover {
      background-color: #ffffff;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 372px;
  height: 600px;
  perspective: 1000px;
  cursor: pointer;
  margin-bottom: 30px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  background-image: url(./capa-virus/gripe.png);
  position: absolute;
  width: 372px;
  height: 600px;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid rgb(125, 155, 194);
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.front {
  background-image: url(./imagem/gripe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(0);
  color: white;
  z-index: 2;
}

.back {
  background-color: #dbe0e4;
  transform: rotateY(180deg);
  color: black;
  z-index: 1;
} 
#card2 .front{
  background-image: url(./capa-virus/TRAS-COVID-1.png);
}
#card2 .back {
  background-image: url(./capa-virus/covid\ 19.png);
}
#card3 .front{
  background-image: url(./capa-virus/TRAS-POLIOMELITE-1.png);
}
#card3 .back {
  background-image: url(./capa-virus/card-frente.9.poliomelite.png);
}
#card4 .front{
  background-image: url(./capa-virus/hivremake.png);
}
#card4 .back {
  background-image: url(./capa-virus/hiv\ fontenova.jpg);
}
#card5 .front{
  background-image: url(./capa-virus/raiva.png);
}
#card5 .back {
  background-image: url(./imagem/card\ parte\ da\ frente\ pepe\ 2.jpg );
}
#card6 .front{
  background-image: url(./capa-virus/sarampo.png);
}
#card6 .back {
  background-image: url(./imagem/sarampo.png);
}
#card7 .front{
  background-image: url(./capa-virus/TRAS-DENGUE-1.png);
}
#card7 .back {
  background-image: url(imagem/Dengue\ 1.jpg);
}
#card8 .front{
  background-image: url(./capa-virus/herpes.png);
}
#card8 .back {
  background-image: url(imagem/card\ parte\ da\ frente-1\ 1\ herpes.jpg);
}
#card9 .front{
  background-image: url(./capa-virus/hpvtras.png);
}
#card9 .back {
  background-image: url(./capa-virus/hpv-fontenova.jpg);
}
